* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ---------------header starts-------------- */
header {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #24252A;
    padding: 1.5rem 2em;
    color: #fff;
}
header > div {
    flex: 0;
}
header div span{
    color: #ff4549;
}
header > nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding-left: 2em;
    transition: color 0.3s ease;
}
header nav a:hover{
    color:#0088a9
}
/* ---------------header end-------------- */
/* ---------------subNav starts-------------- */
.subNav{
    position: absolute;
    top: 4.2rem;
    left: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff5357;
}

.subNav > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff5357;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.subNav > span:hover{
    box-shadow:  #fff 0 0 10px 0;
}
.subNav > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subNav > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.subNav > div > * {
    width: 100%;
    display: block;
    padding: 1em;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}
.subNav > div > *:hover{
    color:#0088a9;
}
.subNav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* ---------------subNav end-------------- */
/* ---------------section1 start-------------- */
.landing{
    background: url('./cute-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    font-weight: 400;
    display: grid;
    grid-template: 50px 50px 1fr 3fr 100px / repeat(2, 1fr) ;
    position: relative;
}
.landing::after{
    position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.25);
}
.landing > * {
    margin: 0 .7rem;
    z-index: 100;
}
.landing div:nth-child(1){
    grid-column: 1 / -1;
    border-left: 8px solid #ffbb79;
    font-size: 1.01rem;
    padding: 1.5rem 1rem;
}
.landing div > span{
    color: #24252A;
    font-weight: 500;
}
.manual{
    grid-column: 1 / -1;
    border-left: 2px solid #ffbb79;
    padding: .9rem 1.7rem;
}
.manual p, .function p{
    padding-top: 5px;
}
.search{ /*2nd child*/
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}
.search input{
    font-size: 1.3rem;
    box-shadow: none;
    background-color: white;
    border-color: transparent;
    border-radius: 4px;
    color: #363636;
    padding: .1em .4em;
}
.search input[data-error]{
    color: #ff1e21;
}
.search button{
    padding: .2em .7em;
    font-size: 1.3rem;
    margin-left: .1em;
    font-weight: 500;
    background-color: #ffbb79;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.search button:hover{
    background-color: #ff5154;
    box-shadow: inset 0 0 4px 0;
}
.function{
    grid-column: 1 / -1;
    border-left: 2px solid #ffbb79;
    padding: .9rem 1.7rem;
    margin-top: 1rem;
}
/* ---------------section.1 end-------------- */
/* ---------------section.info starts-------------- */
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.info > *{
    margin: 10px;
}
.info > button {
    background-color: #ff5154;
    padding: .5rem .7rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: bold;
    transition: box-shadow .2s ease;
    cursor: pointer;
}
.info button:hover{
    box-shadow: #363636 0 0 5px 0;
}
/* ---------------section.info ends-------------- */
/* ---------------section.result-visual starts-------------- */
.result-visual{
    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, 4rem);
    grid-auto-rows: 4rem;
    grid-gap: .4rem;
    justify-content: center;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 1rem;
}
.result-visual > div{
    height: 4rem;
    width: 4rem;
    background-color: #f1f0ee;
    border-radius: 50%;
    margin: 5px;

    /* display: inline-block; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .2s ease;
    cursor: pointer;
}
.result-visual div span{
    /*display: inline-block;
    margin-top: 2rem;
    transform: translateY(-50%);*/
}
.result-visual > div[data-prime]{
    background-color: #ff5357;
}
.result-visual > div:hover{
    box-shadow: #363636 0 0 5px 0;
}

/* ---------------section.result-visual end-------------- */
/* ---------------media query-------------- */
@media (max-width:568px){
    html, body{
        font-size: 9.9px;
    }
}
@media (max-width:736px){
    html, body{
        font-size: 11px;
    }
}
/* ---------------media query end-------------- */

/*
#exp_border_1 {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ffa07a,#ff6347);
        border-image-slice: 100%;
    border-image-slice: 1;
}
border-image: linear-gradient(180deg, #0000ff, #00ffff);
*/
